
.all-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
  overflow: visible;
  background-color:  #1F1F21;
  margin: 0 auto ;
  width: 100%;
  border-radius: 5px;
  height: 100%;
  z-index: 1;
}

.all-content::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -999;
  opacity: 0.25;
  background-image: url(https://i.imgur.com/aODnNk7.png);
  filter: brightness(0%);
  background-size: auto;
}

.all-content h1{
  font-family: 'Libre Baskerville';
  font-size: 2.5rem;
  margin-top: 5px;
  letter-spacing: 1px;
}

.title-container {
  position: relative;
  text-align: center;
  margin: 20px auto;
}

.line-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.line-circle::before,
.line-circle::after {
  content: '';
  width: 5px;
  height: 5px;
  background-color: rgba(251, 251, 248, 0.8);
  border-radius: 50%;
}

.line-circle::before {
  position: absolute;
  left: -5px;
}

.line-circle::after {
  position: absolute;
  right: -5px;
}

.line {
  position: relative;
  width: 100%;
  background-color: #fff;
  height: 1px;
}

.related {
  max-width: 800px;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 20px;
}

.bigbox, .min-boxes {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 25px rgb(11, 8, 14);
}

.bigbox {
  margin: 0 auto;
  width: 955px;
  position: relative;
  height: 460px;
  transition: all 0.15s ease-in-out;
  margin-bottom: 30px;
}

.bigbox:hover {
  width: 975px;
  height: 470px;
}

.boxes img {
  height: 100%;
  width: 100%;
  display: block;
  border-radius: 5px;
}

.faixa {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  z-index: 1;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
}

.faixa h2 {
  font-size: 2.5rem;
  letter-spacing: 1px;
  transition: 0.2s ease;
  font-family: 'Cormorant Garamond';
  font-style: normal;
}

.boxes-min {
  display: flex;
  margin: 0 auto;
  gap: 30px;
}

.min-boxes {
  position: relative;
  width: 300px;
  height: 185px;
  transition: all 0.15s ease-in-out;
}

.min-boxes:hover {
  width: 310px;
  height: 195px;
}

.min-boxes > a > .faixa {
  height: 40px;
}

.min-boxes > a > .faixa h2 {
  font-size: 20px;
}

.bigbox:hover h2, .min-boxes:hover h2 {
  color: #0060BB;
}

.full-catalog {
  display: flex;
  margin: 0 auto 20px;
  max-width: 800px;
}

.catalog, .search {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(26, 25, 28);
  border-radius: 5px;
  width: 465px;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 0 0 25px rgb(11, 8, 14);
  max-height: 570px;
}

.search {
  justify-content: center;
}

.catalog {
  flex: 0 1 calc(50% - 10px);
  justify-items: center;
  justify-content: center;
}

.boxes-catalog {
  display: flex;
  gap: 30px;
  margin-top: 15px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
}

.item:hover img {
  width: 190px;
  height: 260px;
  box-shadow: 0 0 15px rgb(11, 8, 14);
}

.item img {
  width: 180px;
  height: 250px;
  border-radius: 5px;
  transition: all 0.15s ease-in-out;
}

.catalog::-webkit-scrollbar, 
.search::-webkit-scrollbar {
  background: rgba(0, 0, 0, 0.1);
  width: 5px;
}

.catalog::-webkit-scrollbar-thumb, 
.search::-webkit-scrollbar-track {
  background: rgba(0, 97, 187, 0.226);
  border-radius: 5px;
}

.catalog::-webkit-scrollbar-thumb:hover, 
.search::-webkit-scrollbar-track:hover {
  background: rgba(0, 97, 187, 0.068);
}

.group {
  display: flex;
  line-height: 28px;
  margin-top: 20px;
  position: relative;
  max-width: 800px;
}

.input {
  width: 100%;
  height: 5%;
  line-height: 28px;
  padding: 0 1rem;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: rgba(251, 251, 248, 0.8);
  color: #0d0c22;
  transition: .3s ease;
}

.input::placeholder {
  color: #9e9ea7;
}

.input:focus, input:hover {
  outline: none;
  background-color: rgba(251, 251, 248, 0.8);
  border-color: #fff;
  box-shadow: 0 0 0 4px rgb(251 251 248 / 10%);
}

.icon {
  position: absolute;
  left: 10px;
  top: 5px;
  fill: #9e9ea7;
  width: 1rem;
  height: 1rem;
}

@media screen and (min-width: 905px) and (max-width: 1380px) {
  .min-boxes {
    width: 250px;
    height: 160px;
  }

  .min-boxes:hover {
    width: 260px;
    height: 10px;
  }

  .bigbox {
    width: 810px;
    height: 350px;
  }

  .bigbox:hover {
    width: 820px;
    height: 560px;
  }

  .catalog, .search {
    width: 387.5px;
  }
}