* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Times New Roman', Times, serif;
  background-color: #2C2C2E;
  overflow-x: hidden;
}

a, p, h1, h2 {
  color: #FFFF;
}

.header {
  display: flex;
  align-items: normal;
  justify-content: space-between;
  overflow: hidden;
  background-color: #1A191C;
  height: 5vh;
  padding: 10px 10px;
}

.header a {
  display: flex;
  float: left;
  color: #EFD4D4;
  text-align: center;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  font-size: 12px;
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header-buttons a:hover {
  color: #756E6E;
}

.header-buttons {
  display: flex;
  margin-left: 50px;
  justify-self: center;
  justify-content: space-between;
  float: right;
}

.social-media {
  margin-right: 50px;
}

.social-media a {
  background-color: #2C2C2E;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  margin-right: 8px;
}

.social-media img{
  padding: 5px;
  width: 20px;
  height: 20px;
}

.social-media a:hover {
  background-color: #232224;
}


